<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center>
    <h3>Crie sua conta</h3>
    <p color="light">Realize o cadastro da sua conta abaixo</p>
  </div>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Digite seu nome" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="Digite seu E-mail" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Selecione o seu Estado</ion-label>
              <ion-select placeholder="Estado" formControlName="location">
                <ion-select-option *ngFor="let state of states" [value]="state.nome">{{state?.nome}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input formControlName="age" type="text" placeholder="Digite sua Idade" mask="00/00/0000" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estado Civil</ion-label>
              <ion-select formControlName="maritalStatus">
                <ion-select-option value="Casado">Casado(a)</ion-select-option>
                <ion-select-option value="Solteiro">Solteiro(a)</ion-select-option>
                <ion-select-option value="Viuvo">Viúvo(a)</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Sexo</ion-label>
              <ion-select formControlName="sex">
                <ion-select-option value="Masculino">Masculino</ion-select-option>
                <ion-select-option value="Feminino">Feminino</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" [type]="!hide ? 'password' : 'text'" placeholder="Digite sua senha">
              </ion-input>
              <ion-button class="btn-default" type="button" [disabled]="!form.controls['password'].value"
                (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <ion-icon slot="icon-only" [name]="hide ? 'eye-off' : 'eye'"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="btn-default" size="large" type="submit" expand="block" (click)="create()" [disabled]="form.invalid">Cadastrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>