.btn-send{
    /* --padding-start: 0.5em; */
    /* --padding-end: 1em; */
    background: #588cc6;
    border-radius: 5em;
    width: 40px;
    height: 40px;
    margin: 0.3em 0em;
    font-size: x-small;
    padding: 0em 0em 0em 0em;
    ion-icon{
        color: white;
    }
}

ion-col.submitMessage {
    align-items: center;
    display: flex;
    justify-content: center;
}


textarea.native-textarea {
    padding: 0 !important;
}

.chat{
    height: 100%;
    overflow-y: scroll;
}

.close{
    font-size: 2em;
    float: right;
    margin-top: -7px;
    margin-right: 18px;
}