ion-content {
  padding: 20px 0;

  h3 {
    font-family: 'Crete Round';
    margin-bottom: 20px;
  }

  .gradient-border {
    background-image: linear-gradient(to right, #123b68, #588cc6);
    height: 8px;
    width: 100%;
  }

  .logo {
    margin: auto;
    padding-bottom: 0px;
    padding-top: 25px;
    width: 100px;
  }

  form {
    .submit {
      margin: 25px 0 !important;
    }
  }
}