.header-icon{
    width: 2em;
    fill: white;
}

.userChat{
    background: blue;
    color: white;
    padding: 1em;
    border-radius: 1em 1em 0em 1em;
    margin: 1em 0em;
}

.botChat{
    background: rgb(122, 122, 185);
    color: white;
    padding: 1em;
    border-radius: 1em 1em 1em 0em;
    margin: 1em 0em;

}

.message-input{
    width: 100%;
    resize: none;
    height: 100%;
    border: 1px solid;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.btn-send{
    --padding-start: 0.5em;
    --padding-end: 1em;
}


//variables

.label-name{
    text-align: center;
    margin: 0;
}

.center-object{
    margin: 0 auto;
    text-align: center;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}