@import '../../assets/scss/chat';

//colors

$white: #fff;

.header-icon{
    width: 2em;
    fill: white;
}


.message-input{
    width: 100%;
    resize: none;
    height: 100%;
    border: 1px solid;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.btn-send{
    --padding-start: 0.5em;
    --padding-end: 1em;
    background: #2a7268;
    border-radius: 5em;
    width: 100%;
    height: 90%;
    margin: .3em 0em;
    padding: 0em 0em 0em 0.4em;
    ion-icon{
        color: white;
    }
}

.btn-option{
    background: transparent;
    border: 1px solid $white;
    width: 100%;
    padding: 1em;
    margin: 1em 0em;
    color: $white;
    border-radius: 1em;
}


//variables

.label-name{
    text-align: center;
    margin: 0;
}

.center-object{
    margin: 0 auto;
    text-align: center;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}