@import '../../assets/scss/chat';

//colors

$white: #fff;

.header-icon{
    width: 2em;
    fill: white;
}

.botChat {
    display: flex;
    flex-direction: column;
    .btn-default-message{
        margin-bottom: 10px;
    }
}

.btn-send{
    /* --padding-start: 0.5em; */
    /* --padding-end: 1em; */
    background: #588cc6;
    border-radius: 5em;
    width: 40px;
    height: 40px;
    margin: 0.3em 0em;
    font-size: x-small;
    padding: 0em 0em 0em 0em;
    ion-icon{
        color: white;
    }
}

ion-col.submitMessage {
    align-items: center;
    display: flex;
    justify-content: center;
}

textarea.native-textarea {
    padding: 0 !important;
}

.btn-default-message {
    background: #123b68;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    opacity: .9;
    text-transform: uppercase;
    transition: all .4s;

    &:hover {
        opacity: 1;
    }

    &:focus {
        color: #ffffff;
        border-bottom: 0;
    }

    &[disabled="true"] {
        background-color: #e0e0e0;
        color: #707070;
    }
}


//variables

.label-name{
    text-align: center;
    margin: 0;
}

.center-object{
    margin: 0 auto;
    text-align: center;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}