<ion-header>
  <ion-toolbar>
    <ion-title>
      Empresas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let company of companies">
    <img src="https://picsum.photos/id/65/200/200" alt="LOGO">
    <ion-card-header>
      <div class="float-right">
        <ion-badge  color="primary">10</ion-badge>        
      </div>
      <ion-card-title>{{company?.companyName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{company?.mission}}
      </p>
    </ion-card-content>
    <button class="btn-100" (click)="presentModal()">Abrir Chamado</button>
  </ion-card>
</ion-content>
